body{
	background-color: #fafafa;
}
.container{
	width: 750px;
	margin: 0px auto;
	padding-top: 50px;
	display: flex;
}
.picture{
	width: 50%;
}
.gambarinstagram{
	width: 350px;
}
.boxes{

}
.boxlogo{
	text-align: center;
	width: 350px;
	border-style: solid;
	border-color: #f0f0f0;
	border-width: 2px;
	background-color: white;

}
.form{
	margin-top: 30px;
}
.inputform{
	width: 250px;
	height: 30px;
	border: 1px solid lightblue;
	border-radius: 3px;
	margin-bottom: 10px;
	font-family: sans-serif;
	font-size: 12px;
	padding: 4px;
	padding-left: 10px;
}
.logo{
	width: 180px;
	margin-top: 30px;
}
.buttonlogin{
	margin-top: 5px;
	background-color: skyblue;
	border: 0px solid transparent;
	border-radius: 3px;
	width: 260px;
	height: 30px;
	padding: 4px;
	font-family: sans-serif;
	color: white;
	cursor: pointer;
}
.or{	
	text-align: center;
	width: 257px;
	border-top: 1px solid skyblue;
	line-height: 0.1em;
	margin: 30px 45px 20px;
	font-family: sans-serif;
	font-size: 12px;
	color: lightgrey;
	margin-bottom: 40px;
}
.or span{
	background: white;
	padding: 0 10px;
}
.loginfacebook{
	color: blue;
	font-family: Arial;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 20px;
}

.iconfacebook{
	width: 14px;
}
.signup{
	text-align: center;
	width: 350px;
	border-style: solid;
	border-color: #f0f0f0;
	border-width: 2px;
	background-color: white;
	margin-top: 10px;
	height: 50px;
	padding-top: 15px;
}
.get-app{
	text-align: center;
	width: 350px;
	background-color: white;
	font-family: Arial;
	font-size: 12px;
}
.getappicon{
	width: 170px;
	height: 50px;
}